/*Navigation bar, line 12 - 26*/
.top-navigation-bar {
	display: flex;
	flex-direction: row;
	height: 8vh;
	background-color: purple;
	align-items: center;
	padding: 5px;
	border-radius: 25px;
	border: solid 1px whitesmoke;
}

.top-navigation-bar-item {
	margin: 10px;
	font-size: 18px;
	color: whitesmoke;
}

.top-navigation-bar-item a {
	color: whitesmoke;
	text-decoration: none;
}

.top-navigation-bar-item span {
	cursor: pointer;
}

.header-logo {
	flex-grow: 1;
}

.header-logo img {
	border-radius: 25px;
}

.top-navigation-bar-item button {
	background: none;
	border: none;
	color: whitesmoke;
}

.sidenav {
	margin: 5px;
	height: 90vh;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: whitesmoke;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	border-radius: 25px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/*
.sidenav a:hover {
  color: #f1f1f1;
}
*/
.sidenav h2 {
	text-align: center;
}

.past-order {
	display: flex;
	flex-direction: column;
}

section {
	margin: 12px;
	display: table;
	width: 100%;
}

section>* {
	display: table-row;
}

section .col {
	display: table-cell;
	height: 30px;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

/*menu item*/
.menu-displayer {
	/* margin: 10px; */
	/* padding: 25px; */
	display: flex;
	flex-direction: row;
	margin-right: auto;
	flex-wrap: wrap;
	/* border-radius: 25px; */
	/* background-color: green; */
}

.menu-displayer-item {
	/* margin: 0px 10px; */
	overflow-y: hidden;
	background-color: #61116a;
	width: 31vw;
	height: 30vh;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 5px 5px;
}

/*
@media only screen and (max-width: 600px) {
	.menu-displayer-item {
		width: 50%;
	}
	.menu-displayer {
		overflow-x: scroll;
		flex-wrap: nowrap;
	}
	.modal-content {
		width: 80%;
	}
	.model-form input {
		height: 20px;
	}
}
*/
.menus {
	display: flex;
	flex-direction: row;
	height: 30vh;

	/* border-radius: 25px; */
}

.menus-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 13vw;
}

.menus-top-item input[type='number'] {
	width: 30px;
}

.menus-top-item input[type="submit"] {
	border-radius: 25px;
	background-color: whitesmoke;
}

.menus-top-item a {
	text-decoration: none;
	color: whitesmoke;
}

.menus-top-title {
	text-align: start;
	flex-grow: 1;
}

.menus-top span {
	cursor: pointer;
}

.menus-top-item span {
	color: whitesmoke;
}

#block {
	cursor: default;
}

.menus-item img {
	width: 15vw;
	height: 30vh;
	border-radius: 25px;
}

#menus-item-text {
	color: whitesmoke;
	padding: 10px;
	text-align: justify;
	overflow: auto;
	/* border-radius: 25px; */
}

#msg-container {
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
	margin-top: 90px;
	padding: 5px;
	background-color: purple;
	border-radius: 25px;
	color: whitesmoke;
	font-size: 15px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px
		-79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media only screen and (max-width: 600px) {
	.menu-displayer-item {
		width: 100vw;
	}
	.menus-item {
		width: 50vw;
	}
	.menus-item img {
		width: 50vw;
		height: 30vh;
		border-radius: 25px;
	}
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px none; 
  border-radius: 10px;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: purple; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}